@tailwind base;
@tailwind components;
@tailwind utilities;

#tt{
   display: flex;
   justify-content: center;
   font-size: larger;
   font-weight: 700;
   gap: 122px;
}

@media screen and (max-width: 768px) {
     #tt{
        padding: 20px;
  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }